@import "tailwindcss";

:root {
  --font-sans: var(--font-delius);
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-delius), Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--foreground);
}

@keyframes cloudMovement {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradientBackground {
  background-size: 200% 200%;
  animation: cloudMovement 30s ease infinite;
}
